body{
    background-image: url("Fundo da imagem.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
    height: 100vh;
    width: 100vw;
    margin: 0%;
}
#fundo2{
  z-index: 1;
  left: -100%;
}
#fundo,#fundo2{
    position: absolute;
    padding: 0%;
    border-radius: 50px; 
    width: 98vw;
    height: 7%;
    
    
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
    background-color: rgb(45, 41, 56);
    transition:opacity 2s ease-out ,transform 3s ease-out ;
    
}
#fundo{
  z-index: 2;
}


header{
  height: 100px;
  display: flex;
  align-items: center;
  width: 100px;
  overflow: hidden;
  background-color: transparent;
}

a{
    color: rgb(255, 255, 255);
    font-size: 17px;
    outline: none;
    text-decoration: none;
}

a:hover{
    font-size: calc(17px * 1.5);
    transition: 200ms;
}

a:not(:hover){
    font-size: 17px;
    transition: 200ms;
}

#barra{
    width: 1.5px;
    height: 40px;
    background-color: rgb(87, 85, 114);
}

* {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .wapper{
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 87vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .container{
    background-color: rgb(45, 41, 56);
    width: 40vw;
    height: 60vh;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  h1{
    color: white;
  }
  #resultado{
    color: white;
  }

  #botao, #senha{
    color: rgb(255, 255, 255);
    background-color: rgb(45, 41, 56);
    border-radius: 22px;
    text-decoration: none;
    border: 1px solid white;
  }

input::placeholder{
    text-align: center;
    color: white;
    font-size: 17px;
    outline: none;
}

svg:hover{
  height: calc(24px * 1.5);
  width: calc(24px * 1.5);
  transition: 200ms;
}

svg:not(:hover){
  height: 24px;
  width: 24px;
  transition: 200ms;
}

#senha{
    width: 15vw;
    height: 5vh;
    text-align: center;
    font-size: 20px;
}

#senha::placeholder{

}

#botao{
    width: 7vw;
    height: 5vh;
    font-size: 17px;
    
}

#botao:hover{
  height: calc(5vh * 1.1);
  width: calc(7vw * 1.1);
  font-size: calc(20px * 1.1);
  transition: 200ms;
}

#botao:not(:hover){
  height: 5vh;
  width: 7vw;
  font-size: 20px;
  transition: 200ms;
}

/* Footer */

.footer{
    width: 100vw;
    height: 15vh; 
    background-color: rgb(45, 41, 56);
    color: #fff;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#olhinho{
  width: 2.3vw;
  height: 3vh;
  background-image: url("olhobranco.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-y: center;

}

#olhinho{
  outline: none;
  border: none;
  box-shadow: none;
}

#olhinho:hover{
  height: calc(40px * 1.3);
  width: calc(40px * 1.3);
  transition: 200ms;
}

#olhinho:not(:hover){
  height: 40px;
  width: 40px;
  transition: 200ms;
}

.olhao{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  width: 50%;
  margin: 0;
  padding: 0;
  position: relative;
  left: 35px;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

.animacao{
  transform: translateX(300px);
}

#data, #peso, #pontos, #idade, #valor, #prova1, #prova2, #prova3, #prova4, #num1, #numero{
  color: rgb(255, 255, 255);
  background-color: rgb(45, 41, 56);
  border-radius: 22px;
  text-decoration: none;
  border: 1px solid white;
  width: 15vw;
  height: 5vh;
  text-align: center;
  font-size: 20px;
}

select,button{
  width: 7vw;
    height: 3vh;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 41, 56);
    border-radius: 22px;
    text-decoration: none;
    border: 1px solid white;
}