a{
    color: rgb(255, 255, 255);
    font-size: 17px;
    outline: none;
    text-decoration: none;
}

a:hover{
    font-size: calc(17px * 1.5);
    transition: 200ms;
}

a:not(:hover){
    font-size: 17px;
    transition: 200ms;
}

#barra{
    width: 1.5px;
    height: 40px;
    background-color: rgb(87, 85, 114);
}

* {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .fundo{
    padding: 0%;
    border-radius: 50px; 
    width: 97%;
    height: 7%;
    top: 20px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
    background-color: rgb(45, 41, 56);
}